.container {
  text-align: center;
  margin: 40px 0;
}

.list {
  margin-top: 5px;
}

@media (max-width: 767px) {
  .list {
    margin: 20px 0;
  }
}

.resetButton {
  border: none;
  background: none;
  color: #E33;
  text-decoration: underline;
  cursor: pointer;
}