.main {
  margin-top: 15vh;
}

.share {
  margin: 20px;
  font-size: 1.2rem;
}

.button {
  background-color: #4CB4FF;
  border: 1px solid #4CB4FF;
  color: #fff;
  margin: 0 10px;
  font-size: 1.3rem;
  width: 250px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 200ms;
  line-height: 50px;
  height: 50px;
}

.icon {
  float: left;
  line-height: 50px;
  position: relative;
  left: 5px;
}

.button:hover {
  background-color: #3CA4EF;
}

.shareInput {
  width: 300px;
  height: 40px;
  margin: 10px 10px;
  font-size: 1.2rem;
}