.main {
  margin-top: 5vh;
}
@media (max-width: 767px) {
  .main {
    margin-top: 5vh;
  }
}

.share {
  margin: 20px;
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  .share {
    margin: 10px;
    font-size: 0.8rem;
  }
}

.shareInput {
  width: 300px;
  max-width: 80%;
  height: 40px;
  margin: 10px 10px;
  font-size: 1rem;
  border: 1px solid #cdc7c2;
  border-radius: 3px;
  padding-left: 0.5rem;
}
@media (max-width: 767px) {
  .shareInput {
    margin: 10px 0;
    font-size: 0.8rem;
  }
}

.buttons {
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .buttons {
    margin-top: 0;
  }
}

.button {
  background-color: #4cb4ff;
  border: 1px solid #4cb4ff;
  color: #fff;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.3rem;
  min-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 200ms;
  margin-bottom: 20px;
}
@media (max-width: 719px) {
  .button {
    width: 80vw;
  }
  .button:first-child {
    margin-top: 20px;
  }
}
@media (min-width: 1001px) {
  .button {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 1200px;
    overflow: hidden;
  }
}

.icon {
  padding-right: 20px;
}

.button:hover {
  background-color: #3CA4EF;
}
