.draw.container {
  margin-top: 50px;
  text-align: center;
}

.draw .result {
  margin-top: 30px;
  font-size: 1.5rem;
}

.draw .buttons {
  margin-top: 15vh;
}

.draw .buttons .share {
  margin: 20px;
  font-size: 1.2rem;
}

.draw .buttons button {
  background-color: #4CB4FF;
  border: 1px solid #4CB4FF;
  color: #fff;
  margin: 0 10px;
  font-size: 1.3rem;
  width: 250px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 200ms;
  line-height: 50px;
  height: 50px;
}

.draw .buttons button .icon {
  float: left;
  line-height: 50px;
  position: relative;
  left: 5px;
}

.draw .buttons button:hover {
  background-color: #3CA4EF;
}

.draw .buttons .share input {
  width: 300px;
  height: 40px;
  margin: 10px 10px;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .list-values {
    margin: 20px 0;
  }
}
