.draw.container {
  margin-top: 50px;
  text-align: center;
}

.draw .value {
  font-size: 3rem;
  margin: 1rem;
  min-width: 60px;
}

.draw .result {
  margin-top: 30px;
  font-size: 1.5rem;
}

.draw .result .share {
  margin: 30px;
}

.draw .result button {
  background-color: #4CB4FF;
  border: 1px solid #4CB4FF;
  color: #fff;
  padding: 15px;
  margin: 0 5px;
  font-size: 1.5rem;
  width: 300px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 200ms;
  line-height: 30px;
}

.draw .result button .icon {
  float: left;
  line-height: 30px;
  position: relative;
  left: 5px;
}

.draw .result button:hover {
  background-color: #3CA4EF;
}

.draw .result .share input {
  width: 400px;
  height: 40px;
  margin: 10px 10px;
  font-size: 1.5rem;
}
