.drop {
  position: relative;
  animation-name: drop;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes drop {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
