.container {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.adBanner {
  color: #4cb4ff;
  padding-bottom: 5px;
}

.blueBackground {
  box-sizing: border-box;
  padding: 12px;
  background-color: #4cb4ff;
  color: #fff;
}

.container a:hover {
  text-decoration: underline;
}

.nav {
  padding-bottom: 7px;
}

.bottomLinks {
  font-size: 0.9rem;
}