.main-header {
  background-color: #33a9ff;
  box-shadow: 1px 0 3px #33a9ff;
  min-height: 100px;
  padding: 0 20px;
}

.main-nav {
  margin: auto;
  max-width: 1500px;
  text-align: center;
}

.main-nav .main-nav-brand {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  line-height: 100px;
  text-decoration: none;
}
