.main-header {
  background-color: #4CB4FF;
  box-shadow: 1px 0 3px #4CB4FF;
  height: 100px;
  padding: 0 20px;
}

.main-header .main-nav {
  margin: auto;
  max-width: 1500px;
  text-align: center;
}

.main-header .main-nav .main-nav-brand {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  font-weight: normal;
  line-height: 100px;
  margin: 0;
  text-decoration: none;
}

@media (max-width: 768px) {
  .main-header {
    height: 70px;
  }

  .main-header .main-nav .main-nav-brand {
    font-size: 2rem;
    line-height: 70px;
  }
}
