.main {
  text-align: center;
}

.error {
  text-align: center;
  font-weight: bold;
  color: red;
}
.error img {
  padding: 2rem 0;
}

@media (max-width: 767px) {
   .result {
    margin-top: 15px;
  }

   .buttons {
    margin-top: 50px;
  }

   .buttons button {
    margin-bottom: 10px;
  }
}
