.main {
  background-color: #4CB4FF;
  box-shadow: 1px 0 3px #4CB4FF;
  height: 100px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .main {
    height: 70px;
  }
}

.nav {
  margin: auto;
  max-width: 1500px;
  text-align: center;
}

.brand {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  font-weight: normal;
  line-height: 100px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .brand {
    font-size: 2rem;
    line-height: 70px;
  }
}

.drop {
  position: relative;
  animation-name: drop;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes drop {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
