.create-draw {
  text-align: center;
}

.create-draw .explanations {
  font-size: 1.3rem;
}

.create-draw .input-container {
  font-size: 1.3rem;
  margin-top: 15px;
}

.create-draw .input-container .text-input {
  border: 1px solid #AAA;
  box-sizing: border-box;
  height: 40px;
  padding: 5px 10px;
  width: 250px;
}

.create-draw .input-container .add-input {
  border: 1px solid #4CB4FF;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #4CB4FF;
  color: #FFF;
  box-sizing: border-box;
  transition: background-color 200ms;
}

.create-draw .input-container .add-input:hover {
  background-color: #3CA4EF;
  cursor: pointer;
}

.create-draw .input-container .add-input::-moz-focus-inner {
  border: 0;
}

@media (max-width: 767px) {
  .create-draw .explanations {
    font-size: 1rem;
  }
}
