.create-draw {
  margin: 50px 15% 20px 15%;
  text-align: center;
}

.create-draw .explanations {
  font-size: 1.1rem;
}

.create-draw .input-container {
  font-size: 1.2rem;
}

.create-draw .input-container input {
  border: 1px solid #AAA;
  box-sizing: border-box;
  height: 30px;
  padding: 5px 10px;
  width: 250px;
}
